# Các file mô phỏng và waveform nặng
*.wdb
*.vcd
*.fsdb
*.log
*.jou
*.rpt
xsim.dir/

# Các thư mục kết quả của Vivado/Quartus
.Xil/
*.runs/
*.sim/
*.ip_user_files/
*.hw/
db/
incremental_db/
mophong_vcd/
