# Bảng 3.5 - Bên Trái (W)
#W
address.*
start
rst_n
clk
DataOrReg
instruction.*

# Bảng 3.5 - Bên Phải (E)
#E
m_sel
m_rnw
value.*

# Bảng 3.5 - Bên Trên (N)
#N
check_address.*
s_data.*

# Bảng 3.5 - Bên Dưới (S)
#S
m_data.*
m_addr.*